html {
	background-color: #EEE;
}

#site {
    background-color: white;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#header {
  background-color: #147626;
  height: 70px;
}

#logo {
    padding: 10px 0px 0px 50px;
    float: left;
}

#title {
	color: #fff;
	font-size: xx-large;
	font-family: 'Indie Flower', cursive, Verdana;
    float: right;
    padding: 10px 150px 5px 0px;
}

#navbar {
    text-align: center;
    color: #03a9f3;
    padding-top: 10px;
}

    #navbar a:hover {
        color: #036ff3;
        font-size: 110%;
    }

    #navbar a {
    text-decoration: none;
    }

    #navbar i {
        color: black;
    }

#main {
    padding: 10px 30px 10px 30px;
}

    #main h2 {
        text-align: center;
        font-family: Tahoma, Arial;
        color: #06b714;
    }

    #main i {
        color: #1775e8;
    }

ul {
    list-style-type: none;
    padding: 0px;
    color: #03a9f3;
}

    li a {
       text-decoration: none;
       color: white;
    }

.current {
    font-weight: bold;
    color: #00638f;
}

h4 {
    margin: 0;
}

#footer {
    clear: both;
    padding: 10px;
    background-color: #999;
    color: white;
    text-align: left;
    font-family: Verdana, Arial;
    font-size: small;
    height: 120px;
}
