html {
	background-color: #EEE;
}

#site {
    background-color: white;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#header {
  background-color: teal;
  height: 70px;
}

#logo {
    padding: 10px 0px 0px 50px;
    float: left;
}

#title {
	color: #fff;
	font-size: xx-large;
	font-family: 'Indie Flower', cursive, Verdana;
    float: center;
    padding: 10px 150px 5px 0px;
   text-align: center;
}

#navbar {
    text-align: center;
    color: #03a9f3;
    padding-top: 10px;
    background: #999;

}

    #navbar a:hover {
        color: #036ff3;
        font-size: 110%;
    }

    #navbar a {
    text-decoration: none;
    color: white;
    }

    #navbar i {
        color: #015882;
    }

#main {
    padding: 10px 30px 10px 30px;
}

    #main h2 {
        text-align: center;
        font-family: Tahoma, Arial;
        color: #06b714;
    }

    #main i {
        color: #1775e8;
    }

ul {
    list-style-type: none;
    padding: 0px;
    color: #03a9f3;
}

    li a {
       text-decoration: none;
       color: white;
    }

.current {
    font-weight: bold;
    color: #00638f;
}

h4 {
    margin: 0;
    color: #003752;

}

#footer {
    clear: both;
    padding: 10px;
    background-color: #486166 ;
    color: white;
    text-align: left;
    font-family: Verdana, Arial;
    font-size: small;
    height: 142px;
}
p.important {
         float: right;
            color: #118ACC;
font-weight: bold;
 position: absolute;
    right: 300px;
    bottom:10px; 
}

h4.wifi{

    font-weight: bold;
  font-size: 16px;
   color: #118ACC;
}

 #test a:hover {
text-decoration: underline;

    }

    #test a {
    text-decoration: none;
    color: white;
    }


    #google_translate_element{
           
float: right;
margin-top: 5px;
   
    }

/*Proximity effect starts 
*/.pe-thumbs{
    width: 900px;
    height: 400px;
    margin: 20px auto;
    position: relative;
    background: transparent url(../images/2.jpg) center center;
    border: 5px solid #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
.pe-thumbs:before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255,102,0,0.2);
}
.pe-thumbs li{
    float:left;
    position: relative;
}
.pe-thumbs li a,
.pe-thumbs li a img{
    display: block;
    position: relative;
}
.pe-thumbs li a img{
    width:100px;
    opacity: 0.2;
}
.pe-thumbs li a div.pe-description{
    height: 100px;
    background: rgba(111,76,51,0.8);
    position: absolute;
    top: 0px;
    left: -200px;
    color: white;
    display: none;
    z-index: 1001;
    text-align: left;
}
.pe-description h3{
    padding: 10px 10px 0px 10px;
    line-height: 20px;
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    margin: 0px;
}
.pe-description p{
    padding: 10px 0px;
    margin: 10px;
    font-size: 11px;
    font-style: italic;
    border-top: 1px solid rgba(255,255,255,0.3);
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    margin:0;
    padding:0;
}

fieldset,img { 
    border:0;
}

address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}

/*Proximity effect ends -Takhim  
*/
/*Don't even think about touching the code. 
It took me sometime to figure things out . -Takhim 
*/
.size{

    height: 100px;
    width: 100px;
}

p.font{
    font-family: Comic Sans MS ;
}
p.yahoo{

position: absolute;
    right: 300px;
    bottom:50px; 
    float: right;
            color: #118ACC;
font-weight: bold;
}


p.yahoo1{

position: absolute;
    right: 300px;
    bottom:90px; 
    float: right;
            color: #118ACC;
font-weight: bold;
}

a.email{
    text-decoration: none;
    color: #118ACC;
}
